@mixin text-footer {
    font-family: $main-font;
    color: white;

} 

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin card-style($bg, $radius) {
    background-color: $bg;
    border-radius: $radius;
    box-shadow: 2px 2px 4px rgb(24, 66, 24);
    transition: transform 0.3s ease;
}

@mixin estilo-texto ($font, $size) {
 font-family: $font;
 font-size: $size;
 font-weight: bold;
 color: white; 

}