$primary-color: rgb(73, 106, 75) ;
$bg-color: rgb(73, 106, 75) ;
$cards-color: rgb(100, 131, 100);
$cards-color2: rgb(41, 74, 41);
$color3: #0e5b0e;
$color4: rgb(61, 110, 61);
$main-font: Verdana, Geneva, Tahoma, sans-serif;
$parrafos-color: white;
$color-titulos: white; 