.footer {
    background-color: #9fc39f; 
    padding: 20px 0 10px 0;    
    color: #0e5b0e;            
    border-top: 1px solid rgba(14, 91, 14, 0.1);
    position: sticky;
    
}
footer {
    display: flex;
    background-color: rgb(181, 246, 181);
    width: 100%;

}

.logo-footer {
    font-family: 'Verdana', sans-serif;
    font-weight: bold;
    font-size: 18px;          
    margin: 0;
    line-height: 1;
}

.logo-footer span {
    font-size: 8px;
    letter-spacing: 2px;
    display: block;
    font-weight: normal;
}

.info-item {
    font-size: 12px;           
    margin: 0;
    font-family: 'Verdana', sans-serif;
}

.info-item a {
    color: #0e5b0e;
    text-decoration: none;
}

.info-item strong {
    font-weight: 700;
    margin-right: 5px;
}


.footer-copyright {
    margin-top: 15px;
    padding-top: 10px;
    border-top: 1px solid rgba(14, 91, 14, 0.05);
    text-align: center;
    font-size: 10px;
    opacity: 0.7;
}



footer {
    display: flex;
    background-color: rgb(181, 246, 181);
    width: 100%;

}