@use "../utilities/variables" as *;
@use "../utilities/mixins" as * ;

@mixin text-footer {
    font-family: $main-font;
    color: white;

} 

footer {
    @include text-footer;
    display: flex;
    justify-content: space-between;
    background-color: $bg-color;
    width: 100%;
    padding: 20px 0 10px 0;              
    border-top: 1px solid rgba(14, 91, 14, 0.1);
    position: sticky;
    margin-top: auto;

   .logo-footer {
    font-weight: bold;
    font-size: 18px;          
    margin: 0;
    line-height: 1;


     span {
    font-size: 8px;
    letter-spacing: 2px;
    display: block;
    font-weight: normal;
}
}


.info-item {
    @include text-footer;
    font-size: 12px;           
    margin: 0;

    a {
    color: #ffffff;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}
    strong {
    font-weight: 700;
    margin-right: 5px;
}
}

.footer-copyright {
    margin-top: 15px;
    padding-top: 10px;
    border-top: 1px solid rgba(14, 91, 14, 0.05);
    text-align: center;
    font-size: 10px;
    opacity: 0.7;
}


}

