@use "../utilities/variables" as *;

@mixin flex-header ($justify, $align, $gap) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
}
%header-font {
    font-family: $main-font;
    font-weight: bolder;
    color: white; 
}

.header-todos {
    @extend %header-font;
    display: flex;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1000;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    min-height: auto !important;
    font-size: 20px;
    background-color: $color4;

    .container-fluid {
    @include flex-header( flex-start, center, 15px);
    margin: 0 auto;
    padding: 0 50px;
    padding-left: 25px;
    padding-right: 25px;
    width: 100%;
  
    .infusion {
@extend %header-font;
 font-size: clamp(2rem, 5vw, 3.5 rem);
 margin: 0px;
}

 
    .teteria {
@extend %header-font;
font-size: 14px;
letter-spacing: 2px;
text-transform: uppercase;
margin-left: 5px;
}


    .barra-navegacion {
    display: flex;
    margin-left: 450px;
    margin-top: 10px;

      a {
    @extend %header-font;
    white-space: nowrap; 
    text-decoration: none;
}
}
    }
}
    






