.header-todos{
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #9fc39f;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    min-height: auto !important;
    
}

.container-fluid {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin: 0 auto;
    justify-content: flex-start;
    align-items: center;
    padding: 0 50px;
    padding-left: 25px;
    padding-right: 25px;
    width: 100%;

}

.infusion {
 color: white !important;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 font-weight: bolder;
 font-size: clamp (2rem, 5vw, 3.5 rem);
 margin: 0px;
 

}

 
.teteria {
color: white;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 14px;
letter-spacing: 2px;
text-transform: uppercase;
margin-left: 5px;
}




header{
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    color: aliceblue;
    font-size: 20px;
    background-color: rgb(152, 198, 152);

}

.titulo-principal {
    color: whitesmoke;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
}


.subtitulo {
    font-size: medium;
    font-weight: lighter;
    color: white;
}


.titulos {
    display: flex;
}

.barra-navegacion {
    display: flex;
    margin-left: 450px;
    margin-top: 10px;
}

a {
    color: white;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: nowrap;
    text-decoration: none;
}
