@use "../utilities/variables" as *;

@use "../utilities/mixins" as *;

.grid-container {
    display: grid;
    justify-content: center;
    margin: 0 auto; 
    padding: 10px;
    gap: 10px;
    text-align: center;
    grid-template:
         "header" 70px
         "nav" 60px
         "main" auto
         "footer" 70px;

    
.header { grid-area: header; background-color: transparent;}

.nav { grid-area: nav;  background-color: transparent;}

.main {grid-area: main;background-color: transparent;}


.footer {grid-area: footer; background-color:transparent;}

}
 



.galeria-inicio {
    display: grid;  
    grid-template-columns: repeat(3, auto);
    gap: 5px;
    padding: 20px;
    width: 100%;
    aspect-ratio: auto;

    a {
    display: block;
    width: 100%;

    
       img {
       width: 100%;
       aspect-ratio: 1 / 1; 
       object-fit: cover;
       border-radius: 15px;
       display: block;
       margin: 0 auto;
       justify-items: center;
    
}

}

}

.opinion {
    padding: 100px 20px;
    text-align: center;

    .titulos {
        font-family: $main-font;
        color: $color-titulos;
        margin-bottom: 50px;
    }

    .opinion-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax (300px, 1fr));
        gap: 30px;
        max-width: 1200px;
        justify-content: center;
        margin: 0 auto;
    }

    .opinion-card {
        @include card-style ($cards-color, 15px);
        padding: 40px 20px;
        display: flex;
        flex-direction: column;
        border: 2px solid rgba(255,255,255,0.1);
        max-width: 500px;
    }

    .texto-opinion {
        color: white;
        font-family: $main-font;

    }

    .autor {
        color: white;
        font-family: $main-font;
    }

}

