@use "../utilities/variables" as *;
@use "../utilities/mixins" as *;


.navbar-nav{
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    justify-content: flex-end;
    align-items: center;
    width: auto;
    margin-right:0;


    .nav-link {
    background-color: $color3;
    color: white !important;
    white-space: nowrap;
    text-decoration: none;
    font-size: 12px;
    font-weight: 600;
    padding: 6px 12px;
    border-radius: 5px;
    text-align: center;
    display: inline-block;

   &:hover {
    background-color: rgb(103, 213, 176);
}
}

}

.navbar-toggler {
    padding: 0;
    filter: invert(1); 
}




