
/*CONTACT US*/
.consulta {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 100%;
    margin-top: 50px; 
    margin-bottom: 400px;
}


.consulta label {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-align: center;
    
}


.consulta textarea {
    width: 90%;          
    max-width: 500px;   
    height: 200px;       
    border-radius: 10px;
    padding: 15px;
    border: none;
    font-family: Arial, sans-serif;
    resize: none;       
}

.enviar {
    background-color: #0e5b0e;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: #1a2a1a;
}