@use "../utilities/variables" as *;


*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}


html {
    height: 100%;

}

body {
background: linear-gradient( $bg-color, rgb(134, 168, 134));
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
height: 100%;
}




